@using Abc.MvcWebUI.Entity;
@model About
@{
    ViewBag.Title = "About";
}




<div class="container pb-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="about-title">@Model.Title</h3>
            <p class="about-text">
                @Model.Description
            </p>
        </div>
    </div>


</div>
